In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("amz_com-ecommerce_sample.xlsx")

In [3]:
dt= pd.read_excel("flipkart_com-ecommerce_sample.xlsx")

In [4]:
df.head()

                            product_name  retail_price  discounted_price
0    Alisha Solid Women's Cycling Shorts           982               438
1    FabHomeDecor Fabric Double Sofa Bed         32143             29121
2                             AW Bellies           991               551
3    Alisha Solid Women's Cycling Shorts           694               325
4  Sicons All Purpose Arnica Dog Shampoo           208               258

In [5]:
dt.head()

                            product_name  retail_price  discounted_price
0    Alisha Solid Women's Cycling Shorts         999.0             379.0
1    FabHomeDecor Fabric Double Sofa Bed       32157.0           22646.0
2                             AW Bellies         999.0             499.0
3    Alisha Solid Women's Cycling Shorts         699.0             267.0
4  Sicons All Purpose Arnica Dog Shampoo         220.0             210.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_name      20000 non-null  object
 1   retail_price      20000 non-null  int64
 2   discounted_price  20000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 468.9+ KB

In [7]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_name      20000 non-null  object
 1   retail_price      19922 non-null  float64
 2   discounted_price  19922 non-null  float64
dtypes: float64(2), object(1)
memory usage: 468.9+ KB

In [8]:
i =int(input("Enter product name:"))

Enter product name:4

In [9]:
#for i in range(1,10):
if df["product_name"][i] == dt["product_name"][i]:
        x=df['retail_price'][i]
        y=dt['retail_price'][i]
        m=dt["product_name"][i]
        k=dt['discounted_price'][i]
        l=df['discounted_price'][i]
        print(x,',', y)
else:
        pass

208 , 220.0

In [10]:
 dc={
    'Product name in Flipkart':[m]       ,'Retail Price in Flipkart': [y],
    'Discounted Price in Flipkart':[k],
    'Retail Price in Amazon': [x] , 'Discounted Prce in amazon':[l]
}

In [11]:
table= pd.DataFrame(dc)

In [12]:
table

,Product name in Flipkart,Retail Price in Flipkart,Discounted Price in Flipkart,Retail Price in Amazon,Discounted Prce in amazon
0,Sicons All Purpose Arnica Dog Shampoo,220.0,210.0,208,258